/* Make a grid container that provides the structure
of the gameboard.

*/
html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;

}

.prompts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
    height: 200px;
    border: 2px solid black;
}

.scoreboard {
    width: 150px;
}

.gameboard {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.box {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
    height: 66px;
    width: 66px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
}

.status-box {
    text-align: center;
    border: 2px dashed black;
}

.disabled-box {
    pointer-events: none;
    color: red;
}



